<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>image</key>
		<string>Bingome-logo</string>
		<key>uid</key>
		<string>bingome</string>
		<key>nickname</key>
		<string>BingoMe</string>
		<key>content</key>
		<string>小B在这里等着你</string>
	</dict>
</array>
</plist>
